.text-gradient {
    background: linear-gradient(to right, #007bff, #6610f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover-effect:hover {
    background-color: #f8f9fa !important;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
