<div class="container mt-3"> <!-- This moves it below the navbar -->
    <div class="list-group w-25">
      <a href="/" class="list-group-item list-group-item-action active" aria-current="true">
        All products
      </a>
      <% categories.forEach(function(cat){ %>
          <a href="" class="list-group-item list-group-item-action">
              <%= cat.title %>
          </a>
      <% }) %>
    </div>
  </div>  
